<div id="col-top"></div>
<div id="col">

<h3>Listing species</h3>

<div id="searchinfo"><%= page_entries_info @species %></div>

<% form_tag({:action => :index}, :method => :get) do %>
<div id="autocomplete"><%= render :partial=>"shared/search_pane" %></div>
<% end %>
<br>

<%= will_paginate @species, :params => params, :style => 'display:inline' %>
<% if @species.total_pages > 1 %>
(<%= link_to('list all', :action => 'index', :show => @species.total_entries, :show_page => 1, :params => params)%>)
<% end %>

<% if !@species.empty? %>
<table class="search">
  <tr><th>id</th><th>name</th><th>taxonomy</th><tr>
  <%= render :partial => 'species', :collection => @species %>
</table>
<% end %>

</div> <!-- /col -->
<div id="col-bottom"></div>
