<div id="col-top"></div>
<div id="col">

<h3>Listing species</h3>

<% form_tag({:action => :index}, :method => :get) do %>
<div id="autocomplete"><%= render :partial=>"species/search_pane" %></div>
<%= submit_tag 'Search' %>
<img id='search_spinner' src=<%= image_path("spinner.gif") %>  style='display:none;'/>
<% end %>
<br>

<%= will_paginate @species, :params => params %>

<table class="search">
  <tr><th>id</th><th>name</th><th>taxonomy</th><tr>
  <%= render :partial => 'species', :collection => @species %>
</table>

</div> <!-- /col -->
<div id="col-bottom"></div>