<div id="col-top"></div>    
<div id="col" class="box">

<table>
  <tr><th align=left>Abbreviation</th><td><%= @species.abbreviation %></td></tr>
  <tr><th align=left>Name</th><td><%= @species.name %></td></tr>
  <tr><th align=left>Division</th><td><%= @species.division %></td></tr>
  <tr><th align=left>Taxonomy</th><td><%= @species.taxonomy %></td></tr>
</table>

<p>
<%= @species.name %> has <%= link_to @species.precursors_count.to_s + " precursors", species_precursors_path(@species.abbreviation) %> and <%= link_to @species.matures_count.to_s + " matures", species_matures_path(@species.abbreviation) %>.
</p>

<div class="infobox">
<h4><%= link_to_function "Papers [#{@species.papers.size}]", visual_effect(:toggle_blind,'papers',:duration=>0.2)  %></h4>
<div id="papers" style="display:none">
<table class="search"><%= render :partial => 'shared/paper', :collection => @species.papers %></table><br>
</div></div>

</div> <!-- /col -->
<div id="col-bottom"></div>
