<tr class="<%= cycle("even","odd") %>">
  <td><%= link_to mature.name, mature_url(mature.name) %></td>
  <td><%= mature.sequence %></td>
  <td><%= mature.evidence %></td>
  <td><%= mature.experiment %></td>
</tr>
