<tr class="<%= cycle("even","odd") %>">
  <td><%= genome_context.overlap_type %></td>
  <td><%= genome_context.overlap_sense %></td>
  <td><%= genome_context.transcript_id %></td>
  <td><%= genome_context.transcript_name %></td>
</tr>
