<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title || (controller.controller_name + " : " + controller.action_name) %></title>
  <%= stylesheet_link_tag "css/reset","css/main","css/style","css/fg.menu","jquery-ui-themes/overcast/jquery-ui-1.7.2.custom", :media => 'screen,projection' %>
  <link rel="shortcut icon" href=<%= image_path("favicon.png") %> />
  <%= javascript_include_tag :defaults, 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'fg.menu', 'application', :cache => true %>

<!-- jquery theme selector -->
<!-- <script type="text/javascript" src="http://ui.jquery.com/applications/themeroller/themeswitchertool/"></script> -->
<!-- <script type="text/javascript"> $(function(){ $('<div style="position: absolute; top: 20px; right: 300px;" />').appendTo('body').themeswitcher(); }); </script> -->
<!-- -->
</head>
<body>

<div id="main">

  <!-- Header -->
  <div id="header">

    <h1 id="logo"><%= link_to image_tag("mirmaid.png"), "http://www.mirmaid.org" %></h1>
    <hr class="noscreen" />

    <!-- Navigation -->
    <div id="nav">
      <img id='multi_search_spinner' src=<%= image_path("spinner.gif") %>  style='display:none;'/>
      <% if !MIRMAID_CONFIG.ferret_enabled %>
      <font size="2" color="red"><b>Search is disabled
        <%= link_to "(?)", "http://www.mirmaid.org/doku.php?id=ferret_searching", :title => "Web site searching is disabled, follow link for instructions to activate."%>
      </font></b>&nbsp;
      <% end %>
      <%= link_to "Help", "http://www.mirmaid.org", :title => "MirMaid documentation site"%>
    </div> <!-- /nav -->

  </div> <!-- /header -->
    
  <!-- Tray -->
  <div id="tray">
    
    <ul>
      <li <%= controller.controller_name == "home" ? 'id="tray-active"': "" %>><%= link_to "Home", home_url %></li> 
      <li <%= controller.controller_name == "species" ? 'id="tray-active"': "" %>><%= link_to "Species", species_index_url %></li>
      <li <%= controller.controller_name == "precursors" ? 'id="tray-active"': "" %>><%= link_to "Precursors", precursors_url %></li>
      <li <%= controller.controller_name == "matures" ? 'id="tray-active"': "" %>><%= link_to "Matures", matures_url %></li>
      <li <%= controller.controller_name == "search" ? 'id="tray-active"': "" %>><%= link_to "Search", search_url %></li>
      <% if MIRMAID_CONFIG.plugin_resources.size > 0 %>
      <% cname = controller.controller_name.to_sym %>
      <li> 
        <a tabindex="0" class="ui-widget" id="flyout">
        <span class="ui-icon ui-icon-triangle-1-s"></span>
        <%= MIRMAID_CONFIG.plugin_resources.key?(cname) ? MIRMAID_CONFIG.plugin_resources[cname] + " : " + cname.to_s : "Plugins" %>
        </a>
        <div id="plugin-list" class="hidden">
          <ul>
            <% MIRMAID_CONFIG.plugin_menu.each do |plugin_name,resources| %>
            <li><a><%= plugin_name %></a>
            <ul>
              <% resources.each do |res_name| %>
              <li><a href="<%= "/" + res_name %>"><%= res_name %></a></li>
              <% end %>
            </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
    
    <!-- Search -->
    <div id="search" class="box">
      
      <% form_tag({:controller => :search, :action => :index}, :method => :get) do %>
      <div class="box">      

        <div id="search-input"><span class="noscreen">Search:</span>
        <%= render :partial=>"shared/multisearch_pane" %>
        </div>
        <div id="search-submit"><input type="image" src=<%= image_path("search-submit.gif") %> value="OK" /></div>
      </div>
      <% end %>
    </div> <!-- /search -->

    <hr class="noscreen" />
  </div> <!-- /tray -->

  <p style="color: green"><%= flash[:notice] %></p>
  
<%= yield  %>

<!-- Footer
<div id="footer">

  <p class="f-right">blabla</p>
  
</div> 
 footer -->

</div>

</body>
</html>
