<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title || (controller.controller_name + " : " + controller.action_name) %></title>
  <%= stylesheet_link_tag "css/reset","css/main","css/style", :media => 'screen,projection' %>
  <link rel="shortcut icon" href=<%= image_path("favicon.png") %> />
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="main">

  <!-- Header -->
  <div id="header">

    <h1 id="logo"><%= link_to image_tag("mirmaid.png"), "/" %></h1>
    <hr class="noscreen" />

    <!-- Navigation -->
    <div id="nav">
      <img id='multi_search_spinner' src=<%= image_path("spinner.gif") %>  style='display:none;'/>      
      <a href="/">Help</a>
    </div> <!-- /nav -->

  </div> <!-- /header -->
    
  <!-- Tray -->
  <div id="tray">
    
    <ul>
      <li <%= controller.controller_name == "home" ? 'id="tray-active"': "" %>><%= link_to "Home", home_url %></li> 
      <li <%= controller.controller_name == "species" ? 'id="tray-active"': "" %>><%= link_to "Species", species_index_url %></li>
      <li <%= controller.controller_name == "precursors" ? 'id="tray-active"': "" %>><%= link_to "Precursors", precursors_url %></li>
      <li <%= controller.controller_name == "matures" ? 'id="tray-active"': "" %>><%= link_to "Matures", matures_url %></li>
      <li <%= controller.controller_name == "search" ? 'id="tray-active"': "" %>><%= link_to "Search", search_url %></li>
    </ul>
    
    <!-- Search -->
    <div id="search" class="box">
      
      <% form_tag({:controller => :search, :action => :index}, :method => :get) do %>
      <div class="box">      

        <div id="search-input"><span class="noscreen">Search:</span>
        <%= render :partial=>"shared/multisearch_pane" %>
        </div>
        <div id="search-submit"><input type="image" src=<%= image_path("search-submit.gif") %> value="OK" /></div>
      </div>
      <% end %>
    </div> <!-- /search -->

    <hr class="noscreen" />
  </div> <!-- /tray -->

  <p style="color: green"><%= flash[:notice] %></p>
  
<%= yield  %>

<!-- Footer
<div id="footer">

  <p class="f-right">blabla</p>
  
</div> 
 footer -->

</div>

</body>
</html>
